#fullshade{
    width: 1000px;
    padding: 200px 20px;
    background-color: crimson;
    text-align: center;
    border: 1px solid #88ddff;
    color: white;
    font-size: 30px;
}

#vue-app{
    width: 1000px;
    padding: 200px 20px;
    background-color:olive;
    text-align: center;
    border: 1px solid #88ddff;
    color: white;
    font-size: 30px;
}